# dependencies
node_modules
.pnp
.pnp.js

# build
dist
dist-ssr
*.tsbuildinfo

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# env
.env
.env.local
.env.*.local

# lambda build artifacts
lambda/node_modules
lambda/function.zip
lambda/dist
